{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Page</h1>
    <form action="{% url 'save_edit' %}" method="POST">
        <label>Title:</label>
        <input type="text" name="title" placeholder="Enter title" value="{{ title }}">
        {% csrf_token %}
        <br>
        <label>Markdown content:</label>
        <br>
        <textarea name="content" rows="4" cols="50">{{ content }}
        </textarea>
        <br>
        <input type="submit" value="Edit" class="buttn-sub">
    
    </form>

{% endblock %}